*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* ----------------------------------------------------- */
.main{
    width: 100%;
    height: 1200px;
}
.nav{
    background-color: #fff;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(232, 229, 229);
}

.nav-left ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-left ul li{
    padding: 20px 14px;
}
.nav-left ul li a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.nav-left ul li a:hover{
    color: rgb(26,118,209);
    transition: .5s;
}
.nav-right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-right ul li{
    padding: 20px 15px;
}
.telephone{
    color: #000;
    font-size: 14px;
}
.nav-right ul li a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.nav-right ul li i{
    cursor: pointer;
    color: rgb(26,118,209);
    font-size: 14px;
}
.nav-right ul li a:not(:first-child):hover{
    color: rgb(26,118,209);
    transition: .5s;
}

/* ------------------------------------------------------- */

.nav-hd{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    flex-wrap: wrap;
    z-index: 99999;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 3px rgb(152, 150, 150);
}
.nav-hd-left{
    margin-left: 110px;
}

.nav-hd-center .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-hd-center ul li{
    /* padding: 0 8px; */
    position: relative;
}
.dropdown {
    padding: 0 8px;
}
.nav-hd-center ul li a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: inline-block;
}

.nav-hd-center ul li a:hover{
    color: rgb(26,118,209);
    transition: .5s;
}
.nav-hd-center ul li i{
    font-size: 8px;
    vertical-align: middle;
    color: #000;
}

.menu li a{
    display: inline-block;
}
.active{
    margin-right: 15px;
    float: left;
    position: relative;
}
.active a{
    position: relative;
}

.dropdown{
    background-color: #fff;
    width:220px;
    position: absolute;
    top: 50px;
    left: -2px;
    z-index: 9999;
    height: 88px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 0 0 0;
}
.dropdown1{
    background-color: #fff;
    width: 220px;
    position: absolute;
    top: 50px;
    left: -2px;
    z-index: 9999;
    height: 442px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: .5s;
}
.active:hover .dropdown1{
    visibility: visible;
    transform: scaleY(1);
    transition: .7s;
}
.active:hover .dropdown{
    visibility: visible;
    transform: scaleY(1);
    transition: .5s;
}
.active>a::after{
    height: 2px;
    width: 0;
    background-color: rgb(26,118,209);
    display: block;
    content: "";
    margin-top: 31px;
    margin-left: -2px;
    position: absolute;
}
.active>a:hover::after{
    width: 80px;
    transition: all .5s;
}
.dropdown li, .dropdown1 li{
    border-bottom: 1px solid rgb(234, 229, 229);
}
.dropdown li a, .dropdown1 li a{
    padding: 10px 0;
    
}
.nav-hd-right{
    position: relative;
}
.btn{
    padding: 13px 25px;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #1a76d1;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: all .4s ease;
    z-index: 1;
}
.btn:hover{
    color: #fff;
}
.btn::before{
    content: "";
    height: 43px;
    z-index: -1;
    background-color: #2c2d3f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: all .4s ease;
    text-align: center;
    color: #fff;
}
.btn:hover::before{
    transform: scaleX(1);
}
/* ---------------------------------------------------- */

.header-center{
    background-image: url(../img/bread-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
    margin: auto;
}
.header-center::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: #1a76d1;
}
.center-text{
    text-align: center;
    position: relative;
    margin: auto;
}
.center-text-ul{
    display: inline-block;
}
.center-text-ul li a{
    font-family: 'Poppins', sans-serif;
}
.center-text-ul li{
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.center-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
}
.center-text a, i, span{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
}
.center-text i{
    font-size: 10px;
    vertical-align: middle;
}
/* ----------------------------------------------------------- */

.section{
    width: 100%;
    background-color: #fff;
    height: 1120px;
}
.sec1 img{
    width: 100%;
    transition: all .5s;
}
.section-container{
    width: 80%;
    margin: 90px auto;
    transition: all .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sec1{
    background-color: rgb(243, 243, 243);
    width: 33%;
    box-shadow: 1px 1px 5px rgb(192, 188, 188);
    transition: all .5s;
    margin-bottom: 20px;
}
.sec1-1{
    position: relative;
    transition: all .5s;
    /* margin-bottom: 20px; */
}
.sec1-1-tr{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.536);
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all.5s;
}
.sec1-1-tr .btn{
    top: 47%;
    left: 31%;
    transition: all .5s;
}
.sec1-1:hover .sec1-1-tr{
    z-index: 1;
    transition: .5s;
}
.sec1-2{
    padding: 20px 0;
}
.sec1-2 p, h3{
    text-align: center;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
}
/* -------------------------------------------------------- */

.section1{
    background-color: #EDF2FF;
    height: 250px;
    width: 100%;
}
.flex-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.section1-left{
    margin-top: 80px;
    width: 42%;
    vertical-align: middle;
}
.section1-left h6{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
}
.section1-left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #757575;
}
.section1-right{
    margin-top: 80px;
    width: 45%;
    vertical-align: middle;
}
.section1-right input{
    width: 270px;
    height: 48px;
    border: none;
    vertical-align: middle;
    padding: 0 20px;
}
.section1-right ::placeholder{
    font-family: 'Poppins', sans-serif;
}
.section1-right .btn{
    width: 170px;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------------- */

.footer{
    background-color: #1A76D1;
    height: 450px;
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}
.flex-footer{
    width: 90%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.footer-first{
    position: relative;
    width: 22%;
}
.footer-first h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}
.page2 h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}
.footer-first h4::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    bottom: 0px;
    height: 3px;
    width: 60px;
    background-color: #fff;
}
.footer-first p{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 0;
}
.footer-first ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-first li{
    margin: 20px 5px;
    display: inline-block;position: relative;
}
.footer-first li a:hover{
    background-color: #fff;
    transition: .5s;
}
.footer-first li a:hover i{
    color: #1A76D1;
    transition: .5s;
}
.footer-first li a{
    border: 1px solid #fff;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0;
    text-align: center;
    /* position: relative; */
}
.footer-first li i{
    font-size: 16px;
    top: 10px;
    left: 0px;
    position: absolute;
}
.footer-two{
    position: relative;
}
.footer-two1{
    position: relative;
}
.flex-footer-two{
    display: flex;
    /* width: 22%; */
    justify-content: space-between;
    align-items: flex-end;
}
.page2{
    width: 22%;
    position: relative;
}
.page2 h4::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: #fff;
    top: 50px;
}
.footer-two li{
    padding: 8px 10px;
}
.footer-two1 li{
    padding: 8px 10px;
}
.footer-two li i{
    font-size: 14px;
}
.footer-two1 li i{
    font-size: 14px;
}
.footer-two li a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-two1 li a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-two li a{
    transition: all .4s;
}
.footer-two li a:hover{
    padding-left: 5px;
}
.footer-two1 li a{
    transition: all .4s;
}
.footer-two1 li a:hover{
    padding-left: 8px;
}

.footer-thirth{
    position: relative;
    width: 22%;
}
.footer-thirth h4{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}
.footer-thirth h4::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    bottom: 0px;
    height: 3px;
    width: 60px;
    background-color: #fff;
}
.footer-thirth p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 8px 0;
}
.mond, .sat, .thues{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;
}
.mond li{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.sat li{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.thues li{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.mond-li{
    padding-right: 40px;
}
.sat-li{
    padding-right: 92px;
}
.thues-li{
    padding-right: 16px;
}
.footer-fifth{
    width: 22%;
    position: relative;
}

.footer-fifth h4{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}
.footer-fifth h4::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    bottom: 0px;
    height: 3px;
    width: 60px;
    background-color: #fff;
}
.footer-fifth p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 8px 0 25px 0;
}
.footer-fifth form{
    position: relative;
}
.footer-fifth input{
    width: 240px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #1A76D1;
    padding: 0 0 0 8px;
}
.footer-fifth input::placeholder{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.button{
    position: absolute;
    top: 0;
    left: 180px;
    height: 35px;
    width: 60px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.button i{
    color: #1A76D1;
}
/* ------------------------------------------------------ */

.footer1{
    background-color: #1A76D1;
    height: 80px;
    width: 100%;
}
.footer1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}
.footer1 li{
    margin: 0 4px;
    cursor: pointer;
}
.footer1 p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
}
.footer1 a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* cursor: pointer; */
    font-size: 16px;
    text-decoration: underline;
}

/* --------------------------------------@media--------------------------------- */

/* ---------------------------------------1410-------------------------- */
@media (max-width: 1410px) {
    .section {
        height: 1090px;
    }
}
/* ---------------------------------------1373-------------------------- */
@media (max-width: 1373px) {
    .footer-two li i, .footer-two1 li i {
        font-size: 10px;
    }
    .footer-two li a, .footer-two1 li a{
        font-size: 15px;
    }
    .footer-first p {
        font-size: 14px;
    }
    .footer-thirth p {
        font-size: 14px;
    }
    .footer-fifth p {
        font-size: 14px;
    }
}
/* ---------------------------------------1360-------------------------- */
@media (max-width: 1360px) {
    .nav-hd-center ul li {
        padding: 0px;
    }
    .nav-hd-left {
        margin: 0px;
    }
}
/* ---------------------------------------1330-------------------------- */
@media (max-width: 1330px) {
    .section {
        height: 1030px;
    }
}
/* ---------------------------------------1302-------------------------- */
@media (max-width: 1302px) {
    .section1-right input {
        width: 188px;
    }
    .section1-right .btn {
        width: 135px;
    }
    .sec1-1-tr .btn{
        left: 28%;
    }
}
/* ---------------------------------------1299-------------------------- */
@media (max-width: 1299px) {
    .footer-two li i, .footer-two1 li i {
        font-size: 8px;
    }
    .footer-two li a, .footer-two1 li a{
        font-size: 12px;
    }
    .footer-first p {
        font-size: 12px;
    }
    .footer-thirth p {
        font-size: 12px;
        margin-bottom: 35px;
    }
    .footer-fifth p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .sat li, .mond li, .thues li {
        font-size: 12px;
    }
    .sat-li{
        padding-right: 79px;
    }
    .thues-li {
        padding-right: 22px;
    }

}
/* ---------------------------------------1240-------------------------- */
@media (max-width: 1240px) {
    .section {
        height: 990px;
    }
}
/* ---------------------------------------1206-------------------------- */
@media (max-width: 1206px) {
    .flex-footer h4 {
        font-size: 20px;
    }
    .button {
        left: 160px;
    }
    .footer-fifth input {
        width: 220px;
    }
}
/* ---------------------------------------1149-------------------------- */
@media (max-width: 1149px) {
    .flex-footer h4 {
        font-size: 18px;
    }
}
/* ---------------------------------------1129-------------------------- */
@media (max-width: 1129px) {
    .footer-two li, .footer-two1 li {
        padding: 8px 0px;
    }
}
/* ---------------------------------------1120-------------------------- */
@media (max-width: 1120px) {
    .section {
        height: 900px;
    }
    .sec1-1-tr .btn{
        left: 22%;
    }
}
/* ---------------------------------------1101-------------------------- */
@media (max-width: 1101px) {
    .footer-fifth input {
        width: 210px;
    }
    .button {
        left: 150px;
    }
    .footer-first li a {
        width: 28px;
        height: 28px;
    }
    .footer-first li i {
        font-size: 12px;
        top: 8px;
    }
}
/* ---------------------------------------1060-------------------------- */
@media (max-width: 1060px) {
    .footer-fifth input {
        width: 200px;
    }
    .button {
        left: 140px;
    }
}
/* ---------------------------------------1005-------------------------- */
@media (max-width: 1005px) {
    .form-right {
        width: 190px;
    }
    .form-left {
        width: 110px;
    }
    .section1-right .btn {
        width: 110px;
    }
    .footer-fifth input {
        width: 190px;
    }
    .button {
        left: 130px;
    }
}
/* ---------------------------------------990-------------------------- */
@media (max-width: 990px) {
    .footer-two li a {
        font-size: 10px;
    }
    .footer-two1 li a {
        font-size: 10px;
    }
}
/* ---------------------------------------970-------------------------- */
@media (max-width: 970px) {
    .sec1-1-tr .btn{
        left: 18%;
    }
    .sat li, .mond li, .thues li {
        font-size: 10px;
    }
}
/* ---------------------------------------958-------------------------- */
@media (max-width: 958px) {
    .sec1-1-tr .btn {
        left: 21%;
    }
    .footer-fifth input {
        width: 180px;
    }
    .button {
        left: 120px;
    }
}
/* ---------------------------------------930-------------------------- */
@media (max-width: 930px) {
    .footer-first li a {
        width: 25px;
        height: 25px;
    }
    .footer-first li i {
        font-size: 10px;
        left: -2px;
    }
    .nav-hd-left img {
        width: 100px;
    }
    .nav-hd-right .btn {
        padding: 8px 14px;
        font-size: 12px;
    }
    .nav-hd-right .btn::before {
        height: 30px;
    }
    .dropdown, .dropdown1 {
        top: 44px;
    }
    .active>a:hover::after {
        margin-top: 25px;
    }
}
/* ---------------------------------------871-------------------------- */
@media (max-width: 871px) {
    .flex-footer {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
    }
    .footer-first, .page2, .footer-thirth, .footer-fifth {
        width: 44%;
        margin-bottom: 20px;
    }
    .footer {
        height: 580px;
    }
    .nav-hd-center>ul>li>a{
        font-size: 12px;
    }
    .nav-left>ul>li>a, .nav-right>ul>li>i, .nav-right>ul>li>span{
        font-size: 12px;
    }
    .footer-two li, .footer-two1 li {
        padding: 2px 0;
    }
    .section {
        height: 780px;
    }
}
/* ------------------------------------------------------------------------- */
@media(max-width: 740px) {
    .section {
        height: 700px;
    }
}
